<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Weather App</title>

        <link rel="stylesheet" href="C:/Users/pfeif/OneDrive/VsCodeWS/WeatherApp/WeatherApp/css/styles.css">
    </head>
    <body>

        <h1>hi!</h1>
        
    </body>
</html>